@import url(./third-party/material.min.css);

* {
  margin: 0;
  padding: 0;
}

html,
body,
main,
#map,
#list {
  height: 100%;
}

main.mdl-layout__content {
  display: flex;
}

#map {
  width: 70%;
}

#list {
  max-width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-action {
  width: 300px;
}

form {
  text-align: center;
}

form .mdl-textfield {
  width: 90%;
}

form .mdl-checkbox {
  width: 50%;
}