@import url(./third-party/material.min.css);

* {
  margin: 0;
  padding: 0;
}

html,
body,
main,
#map,
#list {
  height: 100%;
}

main.mdl-layout__content {
  display: flex;
}

#map {
  width: 100%;
}

#list {
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-action {
  width: 100%;
}

div.mdl-list__item:hover {
  background: #ccc;
}

@media screen and (min-width: 480px) {
  #list {
    min-width: 300px;
  }
}

form {
  text-align: center;
}

form .mdl-textfield {
  width: 90%;
}

form .mdl-checkbox {
  width: 50%;
}